:root {
    --main-text-color: #434455;
    --second-text-color: #E7E9FC;
    --main-title-color: #2E2F42;
    --second-title-color: #FFFFFF;
    --accent-color: #4D5AE5;
    --main-btn: #4D5AE5;
    --second-btn: #F4F4FD;
    --third-btn: #FFFFFF;
    --main-background-color: #FFFFFF;
    --second-background-color: #2E2F42;
    --third-background-color: #F4F4FD;
    --logo-footer: #F4F4FD;
    --first-btn-focus: #404BBF;
}
*:focus {
    outline: none;
  }
ul {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-title-color);
    background-color: var(--main-background-color);
    
}
.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
.logo {
   
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-title-color);
}
.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, 
.link:focus,
.nav-item.link.current {
    color: var(--accent-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);     
} 
.section {
    padding: 96px 0;
}
.no-scroll {
    overflow: hidden;
}
/*-----------------header---------------------*/
.header {
    width: 100%;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #E7E9FC;
    background-color: #FFFFFF;
    
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-first {
    color: var(--accent-color);
}
.nav-list {
    display: none;
}
.header-address {
    display: none;
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    margin-left: auto;
}
.icon-hamburger {
    stroke: #2E2F42;
}
.mob-menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding-top: 24px;
    padding-bottom: 24px; 
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
    overflow: auto;
}   
.mob-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-background-color);
  
}

.mob-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-btn:hover > .mob-closer, .mob-btn:focus >.mob-closer {
    fill: var(--main-background-color);
    
}
.mob-btn:hover, .mob-btn:focus {
    background-color: var(--first-btn-focus);
    border-color: var(--first-btn-focus);
}
.mob-closer {
    width: 8px;
    height: 8px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.mob-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    margin-top: 56px;
}

.mob-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-item:hover,
.mob-item:focus {
    color: var(--accent-color);
}


.mob-address-list {
    margin-bottom: 40px;
}
.mob-tel {
    margin-bottom: 40px;
}
.mob-address-item {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-address-item:hover, .mob-address-item:focus {
    color: var(--accent-color);
}

.soc-list {
    display: flex;
    justify-content: space-between;

}
.soc-item {
    width: 40px;
    height: 40px;
    
}
.soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover,
.soc-link:focus {
    background-color: var(--first-btn-focus);
}

/*-----------------hero---------------------*/
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-1x-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;

}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mob-2x-min.jpg);;
  }
}
.hero-title {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    margin: 0 auto;
    margin-bottom: 72px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.hero-btn {
    min-width: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    border: transparent;
    border-radius: 4px;
    display: block;
    color: var(--third-btn);
    background-color: var(--main-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--first-btn-focus);
}
/*-----------------about---------------------*/

.about-icon-list {
    display: none;
}


.about-item {
    max-width: 396px;
    margin: 0 auto;
}
.about-item:not(:last-child) {
    margin-bottom: 72px;
}


.about-item-title {
    margin-bottom: 8px;
    text-align: center;
    
}
.about-item-text {
    margin: 0 auto;
}


/*--------------------product-----------------*/
.product {
    display: none;
}

/*----------------------team-----------------*/
.team {
    background-color: var(--third-background-color);
}
.team-title {
    margin-bottom: 72px;
}

.team-item {
    width: 260px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}
.team-item:not(:last-child) {
    margin-bottom: 72px;
}
.team-name {
    text-align: center;
    margin-bottom: 8px;
    

}
.team-description{
    width: 260px;
    padding: 32px 16px;
    border: transparent;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--main-background-color);
}
.team-position {
    text-align: center;
    margin-bottom: 8px;

}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}
.team-soc-item {
    width: 40px;
    height: 40px;
    
}
.team-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--first-btn-focus);
}
/*----------------customers--------------*/
.customers-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    
}

.customers-item {
    width: 168px;
    height: 88px;
}
.customers-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}
.customers-icon {
    fill: currentColor
}
.customers-link:is( :hover, :focus) {
    border-color: var(--first-btn-focus);
    fill: var(--first-btn-focus);
}


/*--------------------footer------------------*/
.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--second-background-color); 
}

/* .first-footer {
    margin-right: 120px;
} */
.logo-foot {
    display: block;
    text-align: center;
}
.logo-footer { 
    color: var(--logo-footer);
}
.footer-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 264px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.footer-soc {
    margin-top: 72px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-footer);
}
.footer-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}
.footer-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}

.subscribe-form {
    margin: 0 auto;
}

.subscribe-label {
    display: block;
    margin-top: 72px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}
input[placeholder] {
    font-size: 12px;
    line-height: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.subscribe-input {
    margin: 0 auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.subscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 16px;
    gap: 16px;
    width: 165px;
    min-height: 40px;
    padding-top: 8px 24px;
    color: var(--second-title-color);
    background: #4D5AE5;
    border: transparent;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:focus,
.subscribe-btn:hover {
    background-color: var(--first-btn-focus);
}
.subscribe-icon {
    fill: #FFFFFF;
}
/*-------------------portfolio--------------------*/
.portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
}
.portfolio-list-btn {
    margin-bottom: 48px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 24px;
}
.portfolio-btn {
    padding: 8px 16px;
    text-align: center;
    color: var(--main-btn);
    background-color: var(--second-btn);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--third-btn);
    background-color: var(--main-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.portfolio-list-img {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.portfolio-item {
    max-width: 360px;
    margin: 0 auto;
}


.portfolio-item:is(:hover, :focus) .portfolio-cover-text {
    transform: translateY(0);
    
}
.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-cover-text {
    position: absolute;
    top: 0;
    padding: 32px 40px 160px 32px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--accent-color);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
.portfolio-link {
    display: block;
    text-decoration: none;
    color:  var(--main-title-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-description {
    padding-top:32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}
.portfolio-item-title {
    margin-bottom: 8px;
}
/*---------------------backdrop------------------*/
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 2;
    overflow: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 576px;
    width: 90%;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px 16px;
    margin-top: 96px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    margin-left: auto;
    padding: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover > .drop-closer, .modal-btn:focus >.drop-closer {
    fill: var(--main-background-color);
    
}
.modal-btn:hover, .modal-btn:focus {
    background-color: var(--first-btn-focus);
    border-color: var(--first-btn-focus);
}
.drop-closer {
    width: 8px;
    height: 8px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--main-title-color) ;
}

.modal-label {
   
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.input-wrap {
    position: relative;
}
.modal-input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color: var(--accent-color);
}
.modal-input:focus + .modal-icon {
    fill: var(--accent-color);

}
.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: var(--accent-color);
}
textarea[placeholder] {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.check-input {
    width: 16px;
    height: 16px;
}
.check-text {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
}
.check-text span {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-text span {
    fill: var(--second-btn);
    background-color: var(--first-btn-focus);
    border: none;
}

.form-btn {
    display: block;
    width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    margin: 0 auto;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-btn:hover, .form-btn:focus {
    background-color: var(--first-btn-focus);
}