@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    .nav-item {
        padding-top: 24px;
        padding-bottom: 28px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        position: relative;
    }
    .current::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        bottom: 0;
        background-color: var(--first-btn-focus);
        border-radius: 2px;
        position: absolute;
        
    }
    .header-logo {
        margin-right: 123px;
    }
    .header-address {
        display: block;
        margin-left: auto;
    }
      
    .address-item {
        padding: 24px 0;
        font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
    }
    .address .tel {
        margin-left: 40px;
    }
    .menu-open-btn {
        display: none;
    }
    .mob-menu {
        display: none;
    }
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-1x-min.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
       .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab-2x-min.jpg);
        }
    }
    .hero {
        padding-top: 108px;
        padding-bottom: 108px;
    }
    .hero-title {
        margin-bottom: 40px;
    }
    .modal {
        max-width: 408px;
    }
    .about-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
        
    }
    .about-item {
        max-width: 355px;
        text-align: left;
        margin: 0 0 0 0;
        
    }
    .about-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .about-item-title {
        text-align: left;
    }
    .team {
        padding-bottom: 104px;
    }
    .team > .container {
        width: 582px;
        margin: 0 auto;
    }
    .team-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
    .team-item:not(:last-child) {
        margin-bottom: 0;
    }
    .footer-container {
        width: 582px;
    }
    .container-foot-tab {
        display: flex;
        gap: 24px;
    }
    .logo-foot {
        text-align: left;
    }
    .footer-text {
        text-align: left;
    }
    .footer-soc {
        margin-top: 0;
        text-align: left;
    }
    .subscribe-label {
        text-align: left;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:  flex-start;
        gap: 24px;
    }
    .subscribe-input {
        margin: 0;
    }
    .subscribe-btn {
        margin: 0;
    }
    .portfolio {
        padding-top: 64px;
        
    }
    .portfolio-list-btn {
        margin-bottom: 64px;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .portfolio-btn {
        padding: 12px 24px;
    }
    .portfolio-list-img {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        max-width: 356px;
        margin: 0 0 0 0;
    }
}
    


